$color-web-wash: #18191A;
$color-web-header: #242526;
$color-bottom: #012030;
$color-hover: #13678A;
$color-blue-light: #45C4B0;
$color-font: #E6E8EC;
$background-input: #3A3B3C;
$color-hover-ligth: #4E4F50;